# Dependencies
node_modules/
**/node_modules
package-lock.json
yarn.lock

# Build and output files
/release/
build/
dist/
!packages/ckeditor5-build-*/build
docs/api/output.json

# Testing and coverage
.nyc_output/
coverage/

# All "dot directories" except specific ones
.*/**
!.github/**
!.husky/**
!.circleci/**

# CircleCI
.circleci/config-tests.yml

# Development environments
.DS_Store
.idea
.vscode

# Environment variables
.env

# External repositories
external/
mrgit.json

# Package management
.yalc
yalc.lock

# Compiled TypeScript files
packages/*/src/**/*.d.ts
packages/*/src/**/*.js
packages/*/src/**/*.js.map
src/**/*.js
src/**/*.js.map
src/**/*.d.ts