{
	"extends": "stylelint-config-ckeditor5",
	"rules": {
		"declaration-property-value-disallowed-list": [{
			"background": null,
			"background-image": null
		}],
		"function-disallowed-list": null,
		"color-function-notation": null
	}
}